*{
    padding: 0;
    margin: 0;
}
.nav-container{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    background-color: #9b9898;
    color: white;
}
.items {
    display: flex;
    list-style: none;
}
.item{
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
    margin-right: 10px;
}
.banner-container{
    height: 100vh;
    width: 100%;
    background-image: url("asset/image/background.jpg"),
    linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}
.title-banner{
    font-size:85px;
    font-weight: bold;
}
.primary{
    color: #e82626;
}
.description{
    font-size: 22px;
    width: 50%;
    margin: auto;
    padding: 10px;
}
.btn{
    padding: 15px 35px;
    border: none;
    margin: 5px;
    font-size: 18px;
}
.btn-discover{
    background-color: red;
    color: white;
}
.btn-hire{
    color: red;
}

.service-container{
    width: 100%;
    height: 100vh;
    background-image: url("asset/image/footer-bg.png"),
    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
    background-blend-mode: overlay;
    color: white;
    padding: 20px;
}
.service-btn{
    border-radius: 20px;
    color: gray;
}
.title-service{
    font-size: 40px;
    font-weight: bold;
    padding: 7px;
    color: rgb(190, 207, 208);
}

.service-description{
    width: 50%;
    font-size: 20px;
    padding: 12px;
    color: rgb(190, 207, 208);
}
.author-details{
    display: flex;
    align-items: center;
}
.author-img-des{
    display: flex;
    align-items: center;
    padding: 20px;
    border-right: 1px solid red ;
}
.author-img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding-right: 10px;
}
.more-details{
    padding: 20px;
}